<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo App</title>
  </head>
  <body>
    <h1>Sections Index</h1>
    <ul style="list-style-type: none">
      <form action="{% url 'task:create_section' %}" method="post">
        {% csrf_token %}
        <label for="section_name">Section name :</label>
        <input type="text" name="section_name" id="section_name" />
        <input type="submit" value="valid new section" />
      </form>
      {% for s in section_list %}
      <h1><a href="{% url 'task:section' s.name %}">{{s.name}}</a></h1>
      <li>
        <form action="{% url 'task:create_task' %}" method="post">
          {% csrf_token %}
          <label for="task_name">Task name :</label>
          <input type="text" name="task_name" id="task_name" />
          <label for="task_date">Task deadline (optional) :</label>
          <input type="datetime" name="task_date" id="task_date" />
          <input type="hidden" name="section_name" value="{{s.name}}" />
          <input type="submit" value="valid new task" />
        </form>
      </li>
      {% for t in s.tasks %}
      <li><a href="{% url 'task:task' s.name t.name %}">{{t}}</a></li>
      {% endfor %} {% endfor %}
    </ul>

    <!-- Create a new section, maybe add the possibility to add,
    the new section on the same ul block as the others sections
    and doing the same with their task, with the possibility to
    add one new task per section, actualize and have a view of the index
    page with the new task/section... -->
  </body>
</html>
