{% extends 'task/base.html' %}
{% block content %}
<div class="card">
  <div class="card-header">{{section.name}} <a href="{% url 'task:delete_section' section.name %}" class=" btn btn-primary btn-danger" style="float: right">Delete </a>
</div>
  <ul style="list-group list-group-flush">
    <li class="list-group-item">
      <form class="row" action="{% url 'task:create_task' %}" method="post">
        {% csrf_token %}
        <div class="col">
          <input type="text" name="task_name" class="form-control" id="task_name" />
        </div>
        <div class="col">
          <input type="date" name="task_date" class="form-control" id="task_date" />
          <input type="hidden" name="section_name" class="form-control" value="{{section.name}}" />
        </div>
        <div class="col">
          <input type="submit" class="form-control" value="valid new task" />
        </div>
      </form>
    </li>
    {% for t in tasks %}
    <li class="list-group-item">
      <div class="input-group">
        <input type="text" readonly class="form-control" value="{{ t.name  }}">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
          aria-expanded="false"></button>
        <ul class="dropdown-menu dropdown-menu-end">
          <li><a class="dropdown-item" href="{% url 'task:delete_task' section.name t.name %}">Remove</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="{% url 'task:task' section.name t.name %}">Edit</a></li>
        </ul>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock content %}