{% extends 'task/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col" >
            <div class="card">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend> Log In</legend>
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-success" type="submit">Login</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col">
            <div class="card">
                Need an account ? <a class="ml-2" href="{% url 'users:register' %}">Sign up Now</a>
            </div>
        </div>
    </div>
</div>
{% endblock content%}